@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Rubik+Gemstones&display=swap");

html {
  font-family: "Roboto", sans-serif;
}
body {
  background-color: #c9d6df;
}

footer {
  background-color: #1e2022;
  color: #52616b;
  padding: 30px;
}

footer p {
  margin-top: 0;
}

footer a {
  font-size: 0.7em;
  color: #999;
  text-decoration: none;
  margin-right: 50px;
}

footer a:hover {
  text-decoration: underline;
}

#navB {
  background-color: #52616b;
  color: #c9d6df;
}
button,
#navB {
  color: #c9d6df;
}
#home {
  background-image: url("../../assets/img/vetements1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
  color: #f0f5f9;
}

a {
  text-decoration: none;
}
.nav-link {
  color: #c9d6df;
  font-family: "Roboto", sans-serif;
}


/** Class et Id */
.bg1 {
  background-color: #52616b;
}



#intro {
  background-color: #c9d6df;
  font-family: "Roboto", sans-serif;
}
#intro-pt2 {
  background-color: #c9d6df;
  font-family: "Roboto", sans-serif;
}
#resume {
  background-color: #c9d6df;
}

.element1 {
  background-color: #52616b;
  border-radius: 3px;
  color: #c9d6df;
  border: 2px solid #c9d6df;
}

.titre {
  background-color: #52616b;
  color: #c9d6df;
}

#btnConnection {
  color: #c9d6df;
}

.article1 {
  background-color: #52616b;
  color: #c9d6df;
  border-radius: 5px;
}

.tab1 {

  height: 300px; /*pour IE qui comprend rien, et qui ne reconnait pas min-height, mais qui comprend mal height*/
  background-color: #f8f9fa;
  

  overflow: scroll; /*pour activer les scrollbarres*/
}

.selectProjet{
  box-shadow: 5px 5px 15px black;

}
.imgAvatar{
  border-radius: 50%;
  width: 50px;
  height:50px;
  object-fit: cover;
}


/* sections */

#dashAddProject{
  background-color: white;
  height: 80vh;
}

.fitImg{
  object-fit: cover;

}

#bgImg{
  background-image: url('../../assets/project/base.jpg');
  background-repeat : no-repeat; 
  background-position :top center;
  background-size : cover;}

#selectItem{
  height: 80vh;
}

#updateComment{
  height: 80vh;
}
